#navbaroptions{
    margin-left:40em !important;
}
/* .dropdown-menu{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5px;
} */

.dropdown-item{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: small;
}